.y{
    color: rgb(220, 118, 135);}


    h1{
        color: rgb(220, 118, 135);}


    h2{
        color: rgb(220, 118, 135);
        background: pink;}

        
    .text{
        background-color:rgb(238, 255, 253);}